body{
    background: url(./3934.jpg)no-repeat;
    background-size: 100% 550%;
   
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    background-color: aquamarine;
    text-align: center;
    position: relative;
}
.home{
    max-width: 190px;
    margin: 0 auto;
    background-color: aliceblue;
    text-align: center;
}
h1, h2{
    color: rgb(248, 11, 11);
    
}
.wrapper button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.wrapper #increment-Btn{
    background: darkred;
}
#save-Btn{
    background-color: darkgreen;
}
.home img{
    width: 190px;
    height: 220px;
}
.text-el{
    text-align: left;

}
.btn-sh{
    padding: 10px;
    background: white;
    border-radius: 50px;
    color: black;
    font-weight: bold;
    margin: 10px 0;
}
.home p{
    font-weight: 700;
    color: black;
}
#error{
    color: red;
    font-weight: 700;
    margin-bottom: 10px;
}